<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        
        main {
            width: 450px;
            margin-top: 50px;
        }
        
        input {
            display: block;
        }
    </style>

    <body class="text-center">
        <main>
            <form action="/" method="post">
                <label>Name</label>
                <input type="text" name="fname">
                <label>email</label>
                <input type="text" name="email">
                <label>project</label>
                <input type="text" name="project">
                <label>link</label>
                <input type="text" name="link">

                <button id="submit">SUBMIT</button>

            </form>

        </main>
    </body>

</html>